html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html, body {
  min-height: 100%;
  background-color: #e7e7e7;
}

html.max-height {
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a, a:hover {
  text-decoration: none;
}

a[href] {
  text-decoration: none;
  cursor: pointer;
}

a:not([href]) {
  text-decoration: none !important;
  cursor: default;
}

.clear {
  clear: both;
  height: 0;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clear {
  clear: both;
  height: 0;
  width: 100%;
}

.main {
  width: 1232px;
  padding: 0 31px;
  box-sizing: border-box;
  display: block;
}

.longread-main {
  margin: 0 auto;
  padding: 100px 100px;
  background-color: #ffffff;
}

.longread-text {
  padding: 15px 70px;
  font-size: 16px;
  line-height: 26px;
  color: #6d6d6d;
}

/*.longread-text--first::first-letter {
  display: block;
  float: left;
  margin-right: 25px;
  margin-top: 35px;
  margin-bottom: 50px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 120px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}*/

/* Блок "Шапка" */

.longread-top {
  position: relative;
  z-index: 1;
  min-width: 1232px;
  height: 800px;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("../img/longread-header-photo.png");
  background-position: center;
  background-repeat: no-repeat;
  /*box-shadow: 0 0 0 616px rgba(0, 0, 0, 0.2) inset;*/
}

.longread-top-wrapper {
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 4%, rgba(0, 0, 0, 0));
}

.longread-top-content {
  display: flex;
  align-items: flex-end;
  width: 1232px;
  height: 800px;
  margin: 0 auto;
  padding: 0 20px 25px 20px;
}

.longread-top-content-left {
  width: 725px;
}

.longread-top-title {
  padding: 0 0 20px 0;
  font-size: 50px;
  line-height: 55px;
  font-weight: 500;
  color: #ffffff;
}

.longread-top-text {
  padding: 0 0 20px 0;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.longread-top-tags {
  display: flex;
  height: 24px;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 0 20px 0;
  list-style: none;
}

.longread-top-tag {
  height: 24px;
  margin: 0 5px 10px 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.longread-top-info {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.longread-top-date {
  padding: 0 10px;
}

.longread-top-reading-time {
  position: relative;
  padding: 0 10px;
}

.longread-top-reading-time:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.5);
}

.longread-top-content-right {
  width: 467px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.longread-top-author {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.longread-top-author-photo {
  margin: 0 0 10px 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 75px 75px 50px rgba(80, 112, 147, 0.6);
}

.longread-top-author-text {
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}

.longread-top-author-name {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.longread-top-socials {
}

.longread-top-socials-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 65px 0 0 0;
}

.longread-top-socials-item {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: #828282;
}

/* Первая буква в тексте */

.longread-letter {
  float: left;
  position: relative;
  margin: 0 25px 0 70px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 120px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}

.longread-letter::before {
  content: '';
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #c2cdd9;
}

.longread-link {
  color: inherit;
  font-weight: 500;
  border-bottom: 2px solid #f9653e;
}

.longread-block-left {
  float: left;
  margin: 20px 45px 20px 0;
}

.longread-block-right {
  float: right;
  margin: 20px 0px 20px 45px;
}

.longread-block-left-with-margin {
  margin: 20px 45px 20px 70px;
}

.longread-block-right-with-margin {
  margin: 20px 70px 20px 45px;
}

/* Блок "Цитата" */

.longread-blockquote {
  width: 400px;
}

.longread-blockquote-text {
  position: relative;
  font-size: 26px;
  line-height: 32px;
  font-weight: 900;
}

.longread-blockquote-wrapper-left .longread-blockquote-text {
  text-align: right;
}

.longread-blockquote-wrapper-right .longread-blockquote-text {
  padding-left: 30px;
}

.longread-blockquote-wrapper-left .longread-blockquote {
  margin-left: -120px;
}

/*.longread-blockquote-text:before {
  content:'\201c';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0px;
  font-size: 60px;
  color: #5c96de;
}

.longread-blockquote-text:after {
  content:'\201d';
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -30px;
  right: 0px;
  font-size: 60px;
  color: #5c96de;
}*/

.quote {
  width: 30px;
  height: 30px;
  font-size: 60px;
  line-height: 0px;
  color: #5c96de;
}

.quote-open {
  vertical-align: -20px;
  margin-right: 10px;
}

.quote-close {
  vertical-align: -35px;
  margin-left: 10px;
}

.longread-blockquote-wrapper {
  position: relative;
  width: 310px;
  height: auto;
  padding: 35px 30px 60px 0;
  background-color: #f3f5f7;
}

.longread-blockquote-wrapper-right {
  float: right;
  margin: 20px 60px 20px 45px;
}

.longread-blockquote-wrapper-left {
  float: left;
  margin: 20px 45px 20px 70px;
}

.longread-blockquote-wrapper:before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background-image: url("../img/share-icon.svg");
}

/* Блок "Фото" */

.longread-photo {
  width: 100%;
}

.longread-photo-caption {
  padding-top: 5px;
  font-size: 11px;
  line-height: 17px;
  color: #6d6d6d;
  max-width: 100%;
}

/* Блок "Документ" */

.longread-document-wrapper {
  position: relative;
  width: 270px;
  height: auto;
  background-color: #f3f5f7;
}

.longread-document-wrapper-right {
  float: right;
  margin: 20px 60px 20px 45px;
  padding: 25px 0px 25px 30px;
}

.longread-document-wrapper-left {
  float: left;
  margin: 20px 45px 20px 70px;
  padding: 25px 30px 25px 0;
}

.longread-document {
  position: relative;
  width: 350px;
}

.longread-document:before {
  content: "";
  position: absolute;
  width: 33px;
  height: 50px;
  box-shadow: 2px 2px 0 0 #e6e9ec;
  background-color: #ffffff;
  background-image: url('../img/clip-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.longread-document-wrapper-left .longread-document:before {
  right: 0;
}

.longread-document-wrapper-right .longread-document:before {
  left: 0;
}

.longread-document-wrapper-left .longread-document {
  padding-right: 50px;
}

.longread-document-wrapper-right .longread-document {
  padding-left: 50px;
}

.longread-document-title {
  padding: 5px 0 0 0;
  font-weight: 900;
}

.longread-document-name {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.longread-document-wrapper-left .longread-document-title,
.longread-document-wrapper-left .longread-document-name {
  text-align: right;
}

.longread-document-wrapper-left .longread-document {
  margin-left: -110px;
}

/* Блок "справка" */

.longread-info-block {
  display: flex;
  width: 520px;
  padding: 35px;
  background-color: #f7f4e9;
}

.longread-info-block-photo {
  flex-shrink: 0;
  width: 125px;
  height: 160px;
}

.longread-info-block-content {
  font-size: 14px;
  line-height: 22px;
  padding: 0 0 0 30px;
}

.longread-info-block-top {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.34);
}

.longread-info-block-title {
  position: relative;
  padding: 15px 0;
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #000000;
  font-weight: 900;
}

.longread-info-block-title:after {
  content: "";
  position: absolute;
  width: 110px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #5c96de;
}

.longread-info-block-text {
  color: #6d6d6d;
}

/* Блок текста с мячом */

.longread-ballphrase {
  position: relative;
  width: 100%;
  text-align: center;
}

.longread-ballphrase-text {
  position: relative;
  width: 460px;
  margin: 65px auto 60px auto;
  padding: 35px 0;
  font-size: 34px;
  line-height: 42px;
  font-weight: 900;
  text-transform: uppercase;
}

.longread-ballphrase-text:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -23px;
  margin-left: -23px;
  width: 46px;
  height: 46px;
  background: url('../img/ballphrase-icon.svg') no-repeat center;
}

.longread-ballphrase-text:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  height: 3px;
  background-color: #000000;
}

.longread-ballphrase:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -160px;
  width: 110px;
  height: 3px;
  background-color: #000000;
}

.longread-ballphrase:after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -160px;
  width: 110px;
  height: 3px;
  background-color: #000000;
}

/* Блок "Реклама" */

.longread-advertising-top {
  font-size: 10px;
  line-height: 20px;
  padding: 0 0 0 10px;
  font-weight: 500px;
  color: #9b9c9d;
  background-color: #f3f5f7;
  text-transform: uppercase;
}

/* Блок "Магазин РФС" */

.longread-rfsshop {
  width: 266px;
  height: 416px;
  padding: 0 35px;
  background: url('../img/rfs-shop-background.png') center no-repeat;
}

.longread-rfsshop-photo {
  width: 195px;
  height: 245px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 6px 6px rgba(36, 72, 93, 0.2);
}

.longread-rfsshop-top {
  font-size: 16px;
  line-height: 46px;
  font-weight: 900;
  color: #3172c2;
  text-transform: uppercase;
}

.longread-rfsshop-text {
  padding: 15px 0;
  font-size: 16px;
  line-height: 20px;
}

.longread-rfsshop-price {
  font-size: 22px;
  line-height: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

/* Блок "Видео" */

.longread-video {
  margin: 30px 0;
  padding: 0 70px;
  width: 1032px;
  height: 495px;
}

/* Блок "Протокол матча" */

.longread-match-protocol {
  position: relative;
  padding: 0 0 55px 0;
  width: 460px;
  height: 280px;
}

.longread-match-protocol:before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background-image: url("../img/share-icon.svg");
}

/* Блок "Слайдер фото" */

.longread-slider {
  margin: 20px 0;
}

.longread-slider-top {
  display: flex;
  align-items: flex-end;
}

.longread-slider-top-wrapper {
  position: relative;
}

.longread-slider-arrow {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -25px;
}

.longread-slider-arrow-back:before {
  display: block;
  padding: 15px 10px;
  content: "\f053";
  color: #ffffff;
  font-family: "FontAwesome";
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.3);
}

.longread-slider-arrow-forward {
  right: 0;
}

.longread-slider-arrow-forward:before {
  display: block;
  padding: 15px 10px;
  content: "\f054";
  color: #ffffff;
  font-family: "FontAwesome";
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.3);
}

.longread-slider-slides {
  display: flex;
  width: 978px;
  height: 569px;
  overflow: hidden;
  list-style: none;
}

.longread-slider-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 489px rgba(0, 0, 0, 0.3) inset;
}

.longread-slider .longread-blockquote-text {
  color: #ffffff;
  text-align: center;
}

.longread-slider .longread-blockquote {
  width: 500px;
}

.longread-slider-socials-list {
  flex-shrink: 0;
  width: 37px;
  list-style: none;
  box-shadow: 1px 1px 1px 1px #e1e1e1;
}

.longread-slider-socials-item {
  margin: 10px auto 10px auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #828282;
}

.longread-slider-socials-share {
  position: relative;
  width: 100%;
  height: 33px;
}

.longread-slider-socials-item-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.longread-slider-socials-share .longread-slider-socials-item-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  background-image: url("../img/share-icon-dark.svg");
}

.longread-slider-bottom {
  display: flex;
  margin: 15px 0 0 0;
}

.longread-slider-pagination {
  display: flex;
  margin: 0 10px 0 0;
  font-size: 12px;
  line-height: 12px;
  color: #5c96de;
}

.longread-slider-pagination-current {
  position: relative;
  padding: 0 13px 0 0;
}

.longread-slider-pagination-current:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 6px;
  width: 1px;
  height: 11px;
  transform: skew(-25deg);
  background-color: #5c96de;
}

.longread-slider-description {
  font-size: 11px;
  line-height: 12px;
  color: rgba(109, 109, 109, 0.6);
}

/* Блок "Ссылки по теме" */

.longread-links {
  width: 100%;
  padding: 25px 100px 100px 100px;
  background-color: #f3f3f3;
}

.longread-links-title {
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 35px 0;
  font-weight: 700;
}

.longread-links-list {
  display: flex;
  list-style: none;
}

.longread-links-item {
  margin-right: 47px;
}

.longread-links-item:last-child {
  margin-right: 0;
}

.longread-links-date {
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 25px;
  color: #767e85;
}

.longread-links-news-title {
  display: block;
  width: 210px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}
